# .env example (copy and create a .env file in the root directory)
POSTGRES_USER=YourPostgreSQLUserName
POSTGRES_PASSWORD=YourPostgreSQLPassword
POSTGRES_DB=YourPostgreSQLDatabaseName

JWT_SECRET_KEY=YourJWTSecretKeyThatShouldBeAtLeastSixtyFourCharactersLong
JWT_ISSUER=YourAssignedJWTIssuer
JWT_AUDIENCE=YourAssignedJWTAudience

RABBITMQ_HOST=YourRabbitMQHostName
RABBITMQ_VIRTUAL_HOST=RabbitMQVirtualHostButUsuallyItsJust/
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest


REDIS_HOST=YourRedisHostName
# Example: localhost:1000
REDIS_PORT=localhost:1000

# In Wallet Service, match with the YARP Gateway's assigned destination address for Identity Service
# Example: http://identity-service:8080/
WALLET_SVC_HTTP_CLIENT_BASE_ADDR=http://identity-service:8080/