# .env example (copy and create a .env file in the root directory)

#### DB CONFIGURATION ####
POSTGRES_USER=YourPostgreSQLUserName
POSTGRES_PASSWORD=YourPostgreSQLPassword
POSTGRES_DB=YourPostgreSQLDatabaseName
##########################


#### JWT CONFIGURATION ####
JWT_SECRET_KEY=YourJWTSecretKeyThatShouldBeAtLeastSixtyFourCharactersLong
JWT_ISSUER=YourAssignedJWTIssuer
JWT_AUDIENCE=YourAssignedJWTAudience
###########################


#### MESSAGE BROKER CONFIGURATION ####
RABBITMQ_HOST=YourRabbitMQHostName
RABBITMQ_VIRTUAL_HOST=RabbitMQVirtualHostButUsuallyItsJust/
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
######################################


#### REDIS CONFIGURATION ####
REDIS_HOST=YourRedisHostName

# Example: localhost:1000
REDIS_PORT=localhost:1000
#############################


#### FRONTEND WEB CONFIGURATION ####
# Yarp Gateway's (a.k.a. API's) URL
VITE_API_URL=http://localhost:9000
####################################

#### NOTIFICATION MICROSERVICE CONFIGURATION ####
NOTIF_SVC_ENABLED=false
#################################################


#### WALLET MICROSERVICE CONFIGURATION ####
# In Wallet Service, match with the YARP Gateway's assigned destination address for Identity Service
# Example: http://identity-service:8080/
WALLET_SVC_HTTP_CLIENT_BASE_ADDR=http://identity-service:8080/
###########################################